<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279342223095-ciiqjdvis393lj92iaeh0jtk2hcceknp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279342223095-ciiqjdvis393lj92iaeh0jtk2hcceknp</string>
	<key>API_KEY</key>
	<string>AIzaSyD_cbjzR5IaN73oslTbo_cw6BXZcxhkjII</string>
	<key>GCM_SENDER_ID</key>
	<string>279342223095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rated.africorp</string>
	<key>PROJECT_ID</key>
	<string>rated-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rated-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279342223095:ios:85f723039ac8018eb40df2</string>
</dict>
</plist>